.modal-classes-content{
    margin: 20px;

    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: black;
}

.classes-list-info{
    position: relative;
    display: block;
    width: 100%;
    min-width: var(--cell-min-width);
    height: 80px;

    background: rgb(241, 224, 112);
}
.classes-list-info #classes-hours{
    position: absolute;
    width: 70px;
    font-size: 34px;
    padding-left: 3px;
}
.classes-list-info #classes-name{
    position: absolute;
    left:85px;

    font-size: 34px;
    width: 300px;
}
.classes-list-info #classes-type{
    position: relative;
    float: right;
    font-size: 27px;
    padding: 3px 10px;


    border-bottom: solid;
    border-width: 1px;
    border-color: black;
}
.classes-list-info #documents{
    position: absolute;
    right: 80px;
    top: 40px;
    margin: 4px;

    width: 32px;
    height: 32px;

    cursor: pointer;
}
.classes-list-info #photos{
    position: absolute;
    right: 40px;
    top: 40px;
    margin: 4px;

    width: 32px;
    height: 32px;

    cursor: pointer;
}
.classes-list-info #notes{
    position: absolute;
    right: 0;
    top: 40px;
    margin: 4px;

    width: 32px;
    height: 32px;

    cursor: pointer;
}