.base-view {
  width: 90%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
}
.base-view .content-view {
  padding: 40px;
}

.viewSelection {
  width: 100%;
  overflow: auto;
}
.viewSelection .viewOption {
  float: left;
  width: 50%;
  padding: 20px 0;
  text-align: center;
  background-color: gray;
  cursor: pointer;
}
.viewSelection .viewOption span {
  color: black;
  font-size: 20px;
}

.filesView {
  width: 350px;
  margin: 0 auto;
}
.filesView .groupsView {
  width: 100%;
}
.filesView .groupsView .singleGroup .groupHeader {
  width: 100%;
  height: 50px;
  background-color: yellow;
  padding: 5px 8px;
  border: 1px solid black;
  cursor: pointer;
}
.filesView .groupsView .singleGroup .groupHeader img {
  float: left;
  padding: 9px 0;
}
.filesView .groupsView .singleGroup .groupHeader .groupNameAndDescr {
  float: left;
  width: 290px;
  padding: 0 10px;
}
.filesView .groupsView .singleGroup .groupHeader .groupNameAndDescr .groupName {
  font-size: 27px;
}
.filesView .groupsView .singleGroup .groupHeader .groupNameAndDescr .groupDescription {
  font-size: 13px;
  opacity: 0.5;
}
.filesView .groupsView .singleGroup .groupsClasses {
  width: calc(100% + 18px);
}
.filesView .groupsView .singleGroup .groupsClasses .groupsFileInfo {
  display: block;
  padding: 4px;
  height: 42px;
  border: 1px solid black;
  padding: 5px 8px;
  cursor: pointer;
  background: white;
}
.filesView .groupsView .singleGroup .groupsClasses .groupsFileInfo .groupFileName {
  float: left;
  width: 310px;
  padding: 5px 0px;
}
.filesView .groupsView .singleGroup .groupsClasses .groupsFileInfo .groupFileName span {
  display: block;
  font-size: 27px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.filesView .groupsView .singleGroup .groupsClasses .groupsFileInfo img {
  float: left;
  height: 30px;
  width: 30px;
  padding: 5px;
  transform: rotate(270deg);
}
