:root {
  --cell-min-width: 160px;
  --cell-height: 155px;
  --cell-margin: 0;
  --cell-radius: 5px;
}

.dateCell {
  position: relative;
  min-width: var(--cell-min-width);
  height: var(--cell-height);
  margin: var(--cell-margin);
  border-radius: var(--cell-radius);
  background: #F4ECB8;
}

.fadedCell {
  min-width: var(--cell-min-width);
  height: var(--cell-height);
  margin: var(--cell-margin);
  border-radius: var(--cell-radius);
}

.currentCell {
  position: relative;
  min-width: var(--cell-min-width);
  height: var(--cell-height);
  margin: var(--cell-margin);
  border-radius: var(--cell-radius);
  background: #EFB93A;
}

.weekendCell {
  position: relative;
  min-width: var(--cell-min-width);
  height: var(--cell-height);
  margin: var(--cell-margin);
  border-radius: var(--cell-radius);
  background: #dbd3a4;
}

.header {
  width: 100%;
  height: 35px;
  position: relative;
  background-color: #C2C2C2;
  border-top-left-radius: var(--cell-radius);
  border-top-right-radius: var(--cell-radius);
}
.header span {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 5px;
}
.header img {
  width: 30px;
  height: 30px;
  margin: 2px 5px;
  cursor: pointer;
}

.body {
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
}

.bodyExtended {
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  max-height: 240px;
  overflow-y: auto;
}

.bodyExtended:hover {
  z-index: 1;
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.75);
}

.classes-short-info {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  background: #f1e070;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}
.classes-short-info #classes-hours {
  position: absolute;
  width: 40px;
  font-size: 17px;
  padding-left: 3px;
  padding-right: 3px;
}
.classes-short-info #classes-name {
  position: absolute;
  left: 46px;
  width: calc(100% - 78px);
  font-size: 30px;
  padding: 3px 0;
  padding-left: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.classes-short-info #classes-type {
  position: absolute;
  right: 0px;
  width: 28px;
  font-size: 30px;
  padding: 3px 4px;
  padding-left: 0;
  text-align: center;
}

.event-short-info {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  background: #cfb81e;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}
.event-short-info #event-hours {
  position: absolute;
  width: 40px;
  font-size: 17px;
  padding-left: 3px;
  padding-right: 3px;
}
.event-short-info #event-name {
  position: absolute;
  left: 46px;
  width: calc(100% - 46px);
  font-size: 30px;
  padding: 3px 0;
  padding-left: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal {
  position: relative;
  width: 700px;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: floralwhite;
  padding: 30px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 10px -2px black;
  outline: none;
  color: black;
}

.modal-top-bar {
  position: relative;
  width: 700px;
  height: 60px;
  margin-bottom: 20px;
}
.modal-top-bar .modal-top-bar-info {
  width: 100%;
  height: 50px;
}
.modal-top-bar .modal-top-bar-info span {
  float: left;
  padding-left: 40px;
  width: calc(100% - 80px);
  height: 100%;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.modal-top-bar .modal-top-bar-info img {
  float: right;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.modal-top-bar hr {
  width: 100%;
}
