.CalendarContent{
  border-radius: 20px;
  position: relative;
  float: left;
  z-index: -1;
  color: black;
  font-size: 30px;
  background:#434B5F;
}
.topBar{
  text-align: center;
  color: black;
  font-size: 40px;
}

.topBar button {
  color: #000000;
  border: #000000 solid 1px;
  padding: 10px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
  float: left;
}

.topBar-buttons {
  position: absolute;
  left: 10px;
}

.topBar button:hover {
  color: #ffffff;
  background-color: #000000;
}

.Calendar{
  box-sizing:border-box;  
  background: #54607D;
  padding: 7px;
}