.dateCell {
    background-color: aqua;
    width: 150px;
    height: 150px;
}
.fadedCell {
    background-color: lightslategrey;
    width: 150px;
    height: 150px;
}
.currentCell {
    background-color: lightskyblue;
    width: 150px;
    height: 150px;
}