.dateCell {
    text-align: right;
    width: calc(12vw);
    height: calc(15vh);
    min-height: 100px;
}
.fadedCell {
    text-align: right;
    width: calc(12vw);
    height: calc(15vh);
    min-height: 100px;
}
.currentCell {
    text-align: right;
    width: calc(12vw);
    height: calc(15vh);
    min-height: 100px;
}