.dateCell {
    width: 200px;
    height: 150px;
}
.fadedCell {
    width: 200px;
    height: 150px;
}
.currentCell {
    width: 200px;
    height: 150px;
    background: grey;
}
.header{
    width: 100%;
    height: 35px;
    position: relative;
    background-color: darkgrey;
}
.header img{
    width: 30px;
    height: 30px;
    margin: 0px 5px;
}
.header span{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5px;
}