.coursesView {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
.coursesView .coursesTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.coursesView .coursesTable .tableHead {
  background-color: gray;
}
.coursesView .coursesTable .tableHead th {
  height: 40px;
}
.coursesView .coursesTable .tableBody {
  background-color: beige;
}
.coursesView .coursesTable .tableBody tr {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.coursesView .coursesTable .tableBody td {
  height: 35px;
  text-align: center;
}
