.ModalContent{
    .sideBar{
        width: 250px;
        float: left;
        .materials-list-header{
            position: relative;
            cursor: pointer;
    
    
            display: block;
            padding: 4px;
            height: 42px;
            border: 1px solid black;
    
            background: #f1e070;
        }
        span{
            font-size: 30px;
        }
        .materials-dropdown{
            .fileInfo{
                display: block;
                padding: 4px;
                height: 42px;
                border: 1px solid black;
                
                cursor: pointer;
                background: white;
                span{
                    width: 100%;
                    float: left;
                    font-size: 27px;
                    padding: 5px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                img{
                    float: left;
                    height: 30px;
                    width: 30px;
                    padding: 5px;
                    transform: rotate(270deg);
                }
                .options{
                    float: right;
                    img{
                        float: left;
                        transform: rotate(0deg);
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .fileContent{
        width: 750px;
        height: 10px;
        float: left;
        .fileDisplayer{
            width: 100%;
        }
    }
}