@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.form{
    position: relative;
    padding:5px 40px 20px 40px;
    left: 50%;
    transform: translate(-50%,0);
    width: fit-content;

    background: #C2C2C2;    
    border-radius: 10px;

	font-family: 'Open Sans', sans-serif;
}
#topTitle{
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
p{
    margin: 10px 0px 5px 0px ;
}
.credentialsInput{
    position: relative;
    display:inline-block;
    width: 230px;
    height: 35px;
}
.credentialsInput img{
    position: absolute;
    left: 0px;
    top: 0;
    width: 24px;
    height: 24px;
    padding: 2px;

    background: white;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.credentialsInput input{
    position: absolute;
    left: 32px;
    top: 0;
    
    font-size: 16px;
    height: 26px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.register-inputs input{    
    height: 26px;
    border-radius: 8px;
}
.buttons button{
    margin: 0px 10px;
}