html{
	height: 100%;
}

body {
	height: calc(100% - 50px);
	margin: 0;
  padding: 0;
	background: linear-gradient(0deg, rgba(70,130,180,1) 0%, rgba(176,196,222,1) 100%);
	color: black;
}

button{
	outline:none;
	background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(209,209,209,1) 50%, rgba(247,247,247,1) 100%);
	padding: 6px 10px;
	border-radius: 10px;
}

button:hover{
  background: linear-gradient(0deg, rgba(224,224,224,1) 0%, rgba(173,173,173,1) 50%, rgba(224,224,224,1) 100%);
}