.groupManagementView{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}
.groupPopup{
    background-color: lightgray;
    width: 350px;
    margin: 20px auto;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
    .groups-list-dropdown{
        margin: 0 auto;
        width: 90%;
        position: absolute;
        left: 5%;
        background-color: lightslategrey;
        box-sizing: border-box;
        padding: 5px 6px;
        cursor: pointer;
        .dropdown-group-name{
            margin: 0;
            font-size: 18px;
        }
        .dropdown-group-descr{
            margin: 0;
            font-size: 14px;
            opacity: 0.5;
        }
    }
    div{
        span{
            padding: 10px;
            font-size: 20px;
            display: block;
        }
        input{
            margin: 0 auto;
            padding: 10px;
            display: block;
            width: 90%;
        }
        textarea{
            margin: 0 auto;
            padding: 10px;
            display: block;
            width: 90%;
            resize: vertical;
        }
        button{
            margin: 10px 20px;
        }
    }
}